<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="row">
      <div class="large-12 large-centered columns">

        <header class="masthead">
          <img src="{{ site.baseurl }}/public/profile.jpg" alt="Abdul Rahman">
        </header>

    </div>
  </div>

  <div class="row">

    <div class="large-6 large-offset-3 columns">

      <div class="content-section">
        {% for about in site.data.about %}
        <p> {{about.description}}</p>
        {% endfor %}
      </div>

      <main>

        <!-- Education -->
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="lbl-toggle" tabindex="0" style="display: block; margin: 0;"><h4>Education</h4></label>
        <div class="collapsible-content">
          {% for education in site.data.education %}
            <div class="data">
              <h6>{{ education.degree }}</h6>
              <h6>{{ education.date }}</h6>
              <p>{{education.uni}}</p>
              {% for summary in education.summaries %}
                <p>{{summary.description}}</p>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <!-- Education -->


        <!-- Project Experiences -->
        <input id="collapsible1" class="toggle" type="checkbox">
        <label for="collapsible1" class="lbl-toggle" tabindex="0" style="display: block; margin: 0;"><h4>Project Experiences</h4></label>
        <div class="collapsible-content">
          {% for category in site.data.projects %}
            <div class="data">
              <h5>{{category.category}}</h5>
              {% for project in category.projects %}
              <div class="data">
                <h6><a href="{{ project.url }}">{{ project.title }}</a></h6>
                <h6>{{ project.date }}</h6>
                <p>{{project.description}}</p>
              </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <!-- Project Experiences -->        

        <!-- Skills -->
        <input id="collapsible2" class="toggle" type="checkbox">
        <label for="collapsible2" class="lbl-toggle" tabindex="0" style="display: block; margin: 0;"><h4>Skills</h4></label>
        <div class="collapsible-content">
          {% for skill in site.data.skills %}
            <h5>{{skill.title}}</h5>
            <div class="data">
              <p>{{skill.remarks}}</p>
              <p>{{skill.description}}</p>
            </div>
          {% endfor %}
        </div>
        <!-- Skills --> 

        <!-- Experiences -->
        {% for category in site.data.experience %}
          <input id="{{category.category}}" class="toggle" type="checkbox">
          <label for="{{category.category}}" class="lbl-toggle" tabindex="0" style="display: block; margin: 0;"><h4>{{category.category}}</h4></label>
          <div class="collapsible-content">
            {% for experience in category.experiences %}
              <div class="data">
                <h6>{{ experience.title }}</h6>
                <h6>{{ experience.duration }}</h6>
                {% for summary in experience.summaries %}
                  <p>{{summary.description}}</p>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
        <!-- Experiences -->   


      </main>

      <footer>
        <h4>Contact Me</h4>
        <p>Here's my <a href="{{site.baseurl}}/public/AbdulRahmanCVW.pdf">resume</a>. Send me an <a href="mailto:{{site.author.email}}">email</a> or ping me on <a href="{{ site.linkedin }}">Linked In</a>. Also, see my work on <a href="{{ site.github }}">Github</a>, and on <a href="{{ site.stackoverflow }}">Stackoverflow</a>.</p>
        <p class="copyright">
        &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </p>
      </footer>

    </div>

    <div class="large-2 large-offset-1 columns social">
      <ul>
        <li><a href="mailto:{{site.author.email}}"><i class="fas fa-envelope"></i></a></li>
        <li><a href="{{ site.github }}"><i class="fab fa-github"></i></a></li>
        <li><a href="{{ site.linkedin }}"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="{{ site.stackoverflow }}"><i class="fab fa-stack-overflow"></i></a></li>
        <li><a href="{{ site.baseurl}}/public/AbdulRahmanCVW.pdf"><i class="fas fa-file-pdf"></i></a></li>
      </ul>
    </div>

  </div>

  <script type="text/javascript">{% include collapsible.js %}</script>

  </body>
</html>
